HELP.md
target/
data/
logs/
document/
groovy/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
backup/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/pkc-console/src/main/java/com/cestc/pkc/test/
